* {
    margin: 0px;
    padding: 0px;
    font-family: Avenir,sans-serif;
}

section { 
    padding: 5.6vw
}

body { 
    text-align: center; 
    background-color: #040714;
    color: silver;
    letter-spacing: .2px;
    line-height: 26px;
    font-weight: 400;
}

.four-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom:20px;
}

h2 {
    margin-bottom: 16px;
    line-height: 50px;
    color: #f9f9f9;
}

img{
    width: 100%;
    display: block;
    height: auto;
    max-width: 300px;
    margin: auto;

}

h3 { margin-top: 20px;
    margin-bottom: 24px; 
    color: #f9f9f9;
}


.platform {
    color: #C0C0C0;
    list-style-type:none;
    margin-bottom: 20px;
    line-height: 28px;
}

.note {margin-bottom:20px;
    font-size: 16px;
    line-height: 26px;}

.disneylogo {width: 80px;}

footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    max-width: 1024px;
    padding: 26px 8px;}

.footer-items {display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    list-style: none;
}

.link:hover{color:#f9f9f9; cursor: pointer;}
.link:active{opacity:.8}
.language-selector {text-decoration: underline;}
.language-selector:hover{color:#f9f9f9; cursor: pointer;}
.language-selector:active{opacity:.8}

.link, .language-selector { 
    padding: 8px 12px;
    font-size: 12px}

.language-selector {
    overflow:hidden;
    background-color: transparent;
    border-radius: 50px;
}

@media (max-width: 479px) {

    .card {width: 40%;
    }

    h2 { 
        font-size: 24px;
        line-height: 34px;}

    h3 { 
        font-size: 22px;}

    .platform {
        font-size: 15px;
        line-height: 25px;}

    .footer {
        font-size: 11px;}

    .note {
        line-height: 24px;}

    .copyright {
        font-size: 11px;}

}

@media (min-width: 480px) {

    .card {width: 40%;}

    h2 { 
        font-size: 24px;
        line-height: 34px;}

    h3 { 
        font-size: 22px;}

    .platform {
        font-size: 15px;
        line-height: 25px;}

    .footer {
        font-size: 11px;}

    .note {
        line-height: 24px;}

    .copyright {
        font-size: 11px;}

}

@media (min-width: 769px) {

    .card {width: 20%;}
    h2 { 
        font-size: 28px;
        line-height: 38px;}

    h3 { 
        font-size: 24px;}

    .platform {
        font-size: 16px;
        line-height: 26px;}

    .footer {
        font-size: 12px;}

    .note {
        line-height: 25px;}
    .copyright {
        font-size: 12px;}
}

@media (min-width: 1025px) {
    h2 { 
        font-size: 40px;
        line-height: 50px;}

    h3 { 
        font-size: 28px;}

    .platform {
        font-size: 18px;
        line-height: 28px;}

    .footer {
        font-size: 12px;}

    .note {
        line-height: 26px;}

    .copyright {
        font-size: 12px;}
}